<h1>Karls TODO</h1>

<input [(ngModel)]="newTodoTitle"
        (keyup.enter)="addTodo()"
        (input)="errorMessage = ''"
        placeholder="Add a todo..." />

@if (errorMessage) {
  <div style="color: red;">{{ errorMessage }}</div>
}
<button (click)="addTodo()">Add</button>

<ul>
  @for (todo of todoService.todos(); track todo.id) {
    <li>
      <app-todo-item
        [todo]="todo"
        (complete)="todoService.updateTodo($event)"
        (delete)="todoService.deleteTodo($event)">
      </app-todo-item>
    </li>
  }
</ul>
